body {
  background-color: #eaeaea;
  margin: 0;
  padding: 0px 0px;
  background-image: url("school.png");
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}
ul.share-buttons li{
  display: inline;
}
ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
ul.share-buttons img{
  width: 32px;
}
.nav > ul {
     font-size: 22px;
     margin: 0px;
     background-image: url("chalkboard.jpg");
     padding: 0px;
     display: flex;
}
.nav > ul > li{
   margin: 0px;
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    border-color: white;
    border-style: solid;
    border-width: thin;
}
.nav > ul a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.5635vw;
  font-weight: bold;
  margin: 0px;
  padding: .9vw 1.5vw;
  display: inline-block;
}
.nav > ul > li:hover {
  background-color: #2424d8;
}
ul.sub-nav{
  position: absolute;
  background-image: url("chalkboard.jpg");
  list-style-type: none;
  display: none;
  text-align: center;
  padding: 5px 10px;
}
.nav li:hover .sub-nav{
  display: block;
}
ul.sub-nav li:hover{
  background-color: #2424d8;
}
.dropdown{
  color: white;
  display: inline-flex;
  margin-left: -1.4vw;
}
ul.sub-nav li{
  border-color: white;
  border-style: solid;
  border-width: thin;
  color: white;
}
.quote{
  font-size: 2.2vw;
  color: darkblue;
  padding-left: 25px;
  font-style: italic;
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
}
.underquote{
  font-size: 1.6vw;
  padding-left: 55px;
  font-weight: 600;
  font-family: sans-serif;
}
#uni{
  width: 100%;
  height: auto;
  filter: brightness(70%);
}
.container{
  position: relative;
}
.centertext{
  width: 63%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 4px 4px #000, -2px -2px #000, 3px 3px #000;
  font-family: sans-serif;
  color: white;
}
table, th, td {
    border: 2px solid black;
    background-color: lightgray;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: center;
    font-size: 2.1vw;
}
td {
  font-size: 1.4vw;
  background-color: white;
  text-align: center;
}
.talent{
  width: 60%;
  position: absolute;
  top: 26%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -1px -1px #000, 1px 1px #000;
  font-family: sans-serif;
  color: white;
}
.lib{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 4px 4px #000, -2px -2px #000, 2px 2px #000;
  color: white;
}
.chalk{
  width: 68%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -1px -1px #000, 1px 1px #000;
  font-family: sans-serif;
  color: white;
}
.boat{
  display: inline-block;
  float: right;
}
#me{
  width: 15%;
  display: inline-block;
  float: right;
}
.map{
  width:100%;
  margin: 0px;
  padding: 0px;
}
.content{
  font-size: 23px;
  font-weight: normal;
  padding-left: 55px;
  padding-right: 55px;
  font-family: sans-serif;
}
.apple{
  width: 93%;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2vw;
  font-weight: 900;
  font-family: sans-serif;
  color: white;
}
.title{
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0px;
  padding-left: 10px;
  font-family: sans-serif;
  margin: 0px;
}
.top-title{
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-left: 10px;
  font-family: sans-serif;
  margin: 0px;
}
.toparrow{
  width: 3%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.checkback{
  float: right;
  height: 170px;
}
.arrow{
  float: right;
}
.backarrow{
  float: left;
}
.donationexplanation{
  font-size: 18px;
  padding-top: 80px;
  padding-left: 10px;
}
.contactinfo{
  font-size: 18px;
  padding-top: 40px;
}
.citations-and-disclaimers-title{
  padding-top: 100px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
  color: gray;
}
.citations-and-disclaimers{
  font-size: 13px;
  padding-left: 10px;
  color: gray;
}
.book{
  display: inline-block;
  margin-left: 40px;
}
.link{
  padding-left: 20px;
}
