body {
  background-color: #eaeaea;
  margin: 0;
  padding: 0px 0px;
  background-image: url("school.png");
}

.frontcontainer{
  position: relative;
}
.cover{
  width: 100%;
  height: 100%;
  filter: brightness(100%);
  position: relative;
  z-index: 1;
}
.flag{
  width: 25%;
  position: absolute;
  z-index: 2;
}
.webpage-title{
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
}
h1{
  margin: 0px;
  padding: 15px;
  background-color: #000a16;
  color: white;
  background-image: url("chalkboard.jpg");
  font-family: 'Fira Sans', sans-serif;
}

.nav > ul {
     font-size: 22px;
     margin: 0px;
     background-image: url("chalkboard.jpg");
     padding: 0px;
     display: flex;
}
.nav > ul > li{
   margin: 0px;
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    border-color: white;
    border-style: solid;
    border-width: thin;

}
.nav > ul a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.5635vw;
  font-weight: bold;
  margin: 0px;
  padding: .9vw 1.5vw;
  display: inline-block;

}
.nav > ul > li:hover {
  background-color: #2424d8;
}
ul.sub-nav{
  position: absolute;
  background-image: url("chalkboard.jpg");
  list-style-type: none;
  display: none;
  text-align: center;
  padding: 5px 10px;
}
.nav li:hover .sub-nav{
  display: block;
}
ul.sub-nav li:hover{
  background-color: #2424d8;
}
.dropdown{
  color: white;
  display: inline-flex;
  margin-left: -1.4vw;
}
ul.sub-nav li{
  border-color: white;
  border-style: solid;
  border-width: thin;
  color: white;
}
.quote{
  font-size: 2vw;
  color: darkblue;
  padding-left: 25px;
  font-style: italic;
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
}
.underquote{
  font-size: 1.6vw;
  padding-left: 55px;
  font-weight: 600;
  font-family: sans-serif;
}
#uni{
  width: 100%;
  height: auto;
  filter: brightness(70%);
}
.container{
  position: relative;
}
.centertext{
  width: 63%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 4px 4px #000, -2px -2px #000, 3px 3px #000;
  font-family: sans-serif;
  color: #d3e4ff;
}
table, th, td {
    border: 2px solid black;
    background-color: lightgray;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: center;
    font-size: 2.1vw;
}
td {
  font-size: 1.4vw;
  background-color: white;
  text-align: center;
}
.talent{
  width: 60%;
  position: absolute;
  top: 26%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -1px -1px #000, 1px 1px #000;
  font-family: sans-serif;
  color: #d3e4ff;
}
.lib{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 4px 4px #000, -2px -2px #000, 2px 2px #000;
  color: #d3e4ff;
}
.chalk{
  width: 68%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -1px -1px #000, 1px 1px #000;
  font-family: sans-serif;
  color: #d3e4ff;
}
.boat{
  display: inline-block;
  float: right;
}

.ctext1{
  width: 68%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.8vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -2px -2px #000, 2px 2px #000;
  font-family: sans-serif;
  color: #d3e4ff;
  z-index: 3;
}
.enter{
  position: absolute;
  top: 83%;
  left: 49%;
  transform: translate(-50%, -50%);

  z-index: 3;


padding: 15px 25px;
background-color: darkblue;
background-image: linear-gradient(darkblue,blue);

text-decoration: none;
color: #fff;
font-size: 4vw;
font-family: sans-serif;
font-weight: 100;
border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
}
.enter:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.01));
}
.enter:hover{
	background: linear-gradient(darkblue,darkblue);
}
.ctext2{
  width: 70%;
  position: absolute;
  top: 65%;
  left: 57%;
  transform: translate(-50%, -50%);
  font-size: 2.7vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -2px -2px #000, 2px 2px #000;
  font-family: sans-serif;
  color: #d3e4ff;
  z-index: 3;
}
#me{
  width: 15%;
  display: inline-block;
  float: right;
}
.map{
  width:100%;
  margin: 0px;
  padding: 0px;
}
.content{
  font-size: 23px;
  font-weight: normal;
  padding-left: 55px;
  padding-right: 55px;
  font-family: sans-serif;
}
.apple{
  width: 93%;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2vw;
  font-weight: 900;
  font-family: sans-serif;
  color: #d3e4ff;
}
.title{
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0px;
  padding-left: 10px;
  font-family: sans-serif;
  margin: 0px;
}
.top-title{
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-left: 10px;
  font-family: sans-serif;
  margin: 0px;
}
.toparrow{
  width: 3%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.checkback{
  float: right;
  height: 30%;
}
.arrow{
  float: right;
}
.backarrow{
  float: left;
}
.donationexplanation{
  font-size: 18px;
  padding-top: 80px;
  padding-left: 10px;
}
.contactinfo{
  font-size: 18px;
  padding-top: 40px;
}
.citations-and-disclaimers-title{
  padding-top: 100px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
  color: gray;
}
.citations-and-disclaimers{
  font-size: 13px;
  padding-left: 10px;
  color: gray;
}
.book{
  display: inline-block;
  margin-left: 40px;
}
.link{
  padding-left: 20px;
}
