body {
  background-color: #eaeaea;
  margin: 0;
  padding: 0px 0px;
  background-image: url("school.png");
}

.frontcontainer{
  position: relative;
}
.cover{
  width: 100%;
  height: 100%;
  filter: brightness(100%);
  position: relative;
  z-index: 1;
}
.flag{
  width: 23%;
  position: absolute;
  z-index: 2;
}
.webpage-title{
  text-align: left;
  font-size: 22px;
  font-family: sans-serif;
}
h1{
  margin: 0px;
  padding: 15px;
  background-color: #000a16;
  color: white;
  background-image: url("chalkboard.jpg");
  font-family: 'Fira Sans', sans-serif;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 100%;
    text-align: center;
    background-color: #000a16;
    overflow: hidden;
    background-image: url("chalkboard.jpg");

}
ul a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 22px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
  border-color: silver;
  border-style: solid;
  border-width: thin;
}
}
li {
    display: inline;
    font-size: 22px;
    padding: 15px 20px;
    height: 8%;
    width: 20%;
    font-weight: bold;
}
ul a:hover{
  color: #3a6bc1;
}
#uni{
  width: 100%;
  height: auto;
}
.container{
  position: relative;
}
.centertext{
  width: 63%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -2px -2px #000, 2px 2px #000;
  font-family: sans-serif;
  color: #d3e4ff;
}
.talent{
  width: 60%;
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 3.61vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -1px -1px #000, 1px 1px #000;
  font-family: sans-serif;
  color: #d3e4ff;
}
.ctext1{
  width: 68%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.8vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -2px -2px #000, 2px 2px #000;
  font-family: sans-serif;
  color: #d3e4ff;
  z-index: 3;
}
.enter{
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;

  /* background styles */

padding: 15px 25px;
background-color: green; /*for compatibility with older browsers*/
background-image: linear-gradient(green,lightgreen);

/* text styles */
text-decoration: none;
color: #fff;
font-size: 4vw;
font-family: sans-serif;
font-weight: 100;
border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
}
.enter:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.enter:hover{
	background: linear-gradient(#073,#0fa);
}
.ctext2{
  width: 70%;
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 2.7vw;
  font-weight: 900;
  text-shadow: 0px 3px 3px #000, -2px -2px #000, 2px 2px #000;
  font-family: sans-serif;
  color: #d3e4ff;
  z-index: 3;
}
.map{
  width:60%;
  margin: 0px;
  padding: 0px;
}
.content{
  font-size: 23px;
  font-weight: normal;
  padding-left: 55px;
  padding-right: 55px;
  font-family: sans-serif;
}
.title{
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0px;
  padding-left: 10px;
  font-family: sans-serif;
  margin: 0px;
}
.top-title{
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  padding-left: 10px;
  font-family: sans-serif;
  margin: 0px;
}
.arrow{
  float: right;
}
.donationexplanation{
  font-weight: bold;
  font-size: 18px;
  padding-top: 110px;
  padding-left: 10px;
}
.contactinfo{
  font-size: 18px;
  padding-top: 40px;
}
.citations-and-disclaimers-title{
  padding-top: 100px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
}
.citations-and-disclaimers{
  font-size: 14px;
  padding-left: 10px;
}
.book{
  display: inline-block;
  margin-left: 40px;
}
.link{
  padding-left: 20px;
}
